* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #D0F0C0, #B7E4C7);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    color: #2E2E2E;
}
.container{
    background-color: #DADD98;
    width: 100%;
    max-width: 500px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.actions{
    display: flex;
    gap: 10px;
    align-items: center;

}
.btn-check{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    front-size: 1rem;
}

.btn-delete {
    padding: 8px 14px;
    border-radius: 18px;
    font-size: 0.85rem;
}
h1 {
    txt-align: center;
    margin-bottom: 20px;
    color: #0A2540;
    front-size: 2rem;

}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input[type="text"] {
    flex: 1;
    padding: 6px;
    border-radius: 8px:
    border: 1px solid #ccc;
    front-size: 1rem;
}

button {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #40916C;
    color: white;
    font-weigth: bold;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color:  #2D6A4F;
    transform: scale(1.03);
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;

    display: flex;
    flex-direction: column;
    gap: 24px

}

li {
    background-color: #D0F0C0;
    padding: 20px;
    border-radius: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);

}


s{
   color: #999;
}

li form button{
    padding: 6px 10px;
    front-size: 0.8rem;
    margin-left: 5px;
}